body {
  font-family: "Poppins";
  margin: 0;
  overflow-x: hidden;
}

header {
  top: 10%;
  background-color: white;
  padding-top: 4%;
  padding-bottom: 2%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 100px;
  width: 80%;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0;
  padding-right: 20%;
  position: absolute;
}
.right a {
  margin: 2%;
  font-weight: 500;
  min-width: fit-content;
  cursor: pointer;
}
.right a:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.right .search-container {
  display: flex;
  align-items: center;
  padding-left: 3%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.right .search-container img {
  padding-left: 10%;
}
.right .lang {
  display: flex;
  align-items: center;
  padding-right: 2%;
}
.right .lang img {
  width: 20px;
  height: 20px;
}
.right .lang select {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 16px;
}
.right .lang select option {
  background-color: transparent;
}

.search-page {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: none;
}
.search-page .close-img {
  display: flex;
  justify-content: right;
  padding: 5%;
}
.search-page .close-img img {
  color: #0c892e;
  cursor: pointer;
}
.search-page .search-bar {
  display: flex;
  background-color: transparent;
  color: #0c892e;
  border-bottom: 2px solid #0c892e;
  width: 80%;
  padding: 0 0 1% 0.5%;
  margin-left: 10%;
}
.search-page .search-bar input {
  border: none;
  background-color: transparent;
  color: green;
  font-size: 25px;
}
.search-page .search-bar input:focus {
  outline: none;
}
.search-page .search-bar input::placeholder {
  opacity: 0.85;
  color: green;
}

.main-banner {
  background-color: #0c892e;
}
.main-banner p {
  text-transform: none;
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 7%;
}

.first-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.first-paragraph p {
  width: 65%;
  padding: 130px 0;
  color: #1d1f24;
  font-size: 24px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
}

.quality-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quality-section .big-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  padding-bottom: 5%;
}
.quality-section .big-container .left1 {
  width: 45%;
}
.quality-section .big-container .left1 h3 {
  color: #1d1f24;
  font-size: 18px;
  margin: 0 0 40px;
  font-weight: normal;
}
.quality-section .big-container .left1 .properties .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #dadada;
  padding: 2%;
}
.quality-section .big-container .left1 .properties .element img {
  width: 52px;
  height: 52px;
  margin-right: 28px;
}
.quality-section .big-container .right1 img {
  width: 100%;
  padding-left: 10%;
}

.work-with-us {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.work-with-us .work {
  background-color: #f6f6f6;
  padding: 5% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-with-us .work h1 {
  color: #0c892e;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 28px;
}
.work-with-us .work p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 30px;
}
.work-with-us .work a {
  color: white;
  background-color: #0c892e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 1% 5%;
  cursor: pointer;
}
.work-with-us .work a:hover {
  background-color: transparent;
  color: #0c892e;
  border: 1px solid #0c892e;
  transition: 0.3s;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2% 0%;
}
.footer .img-dv {
  padding: 2% 7%;
}
.footer .text-container1,
.footer .text-container2,
.footer .text-container3 {
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
  min-width: max-content;
}
.footer a {
  color: #7e7e7e;
  font-size: 18px;
  font-weight: bold;
  padding: 3%;
  width: 100%;
  cursor: pointer;
}
.footer a:hover {
  color: #a1a1a1;
  transition: 0.3s;
}
.footer .media {
  width: 15%;
  padding-left: 5%;
  padding-top: 2%;
}
.footer .media button {
  width: 100%;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}
.footer .media button:hover {
  transform: translateY(5px);
}
.footer .media .button-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #0c892e;
  color: white;
}
.footer .media .icons {
  display: flex;
  justify-content: space-between;
  padding-top: 7%;
}
.footer .media .icons a {
  max-width: fit-content;
}
.footer .media .icons img {
  cursor: pointer;
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0c892e;
  background-color: white;
  font-size: 12px;
  padding-bottom: 2%;
  padding-left: 5%;
}
.post-footer p,
.post-footer a {
  padding: 0% 2%;
}
.post-footer a {
  text-decoration: underline;
  cursor: pointer;
}
.post-footer a:hover {
  color: rgba(12, 137, 46, 0.7);
  transition: 0.2s;
}

/*# sourceMappingURL=commit-style.css.map */
