$theme-color: #00a651;
$theme-color-dark: #0c892e;
$theme-font: "Poppins";
$grey-bg: #f6f6f6;

body {
  font-family: $theme-font;
  margin: 0;
  overflow-x: hidden;
}

header {
  top: 10%;
  background-color: white;
  padding-top: 4%;
  padding-bottom: 2%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 100px;
  width: 80%;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0;
  padding-right: 20%;
  position: absolute;

  a {
    margin: 2%;
    font-weight: 500;
    min-width: fit-content;
    cursor: pointer;
  }

  a:hover {
    color: rgba(black, 0.5);
    transition: 0.3s;
  }

  .search-container {
    display: flex;
    align-items: center;
    padding-left: 3%;
    border-left: 1px solid rgba(black, 0.5);
    img {
      padding-left: 10%;
    }
  }

  .lang {
    display: flex;
    align-items: center;
    padding-right: 2%;

    img {
      width: 20px;
      height: 20px;
    }

    select {
      background-color: transparent;
      color: black;
      border: none;
      font-size: 16px;

      option {
        background-color: transparent;
      }
    }
  }
}

.search-page {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: none;

  .close-img {
    display: flex;
    justify-content: right;
    padding: 5%;

    img {
      color: $theme-color-dark;
      cursor: pointer;
    }
  }

  .search-bar {
    display: flex;
    background-color: transparent;
    color: $theme-color-dark;
    border-bottom: 2px solid $theme-color-dark;
    width: 80%;
    padding: 0 0 1% 0.5%;
    margin-left: 10%;

    input {
      border: none;
      background-color: transparent;
      color: green;
      font-size: 25px;
    }

    input:focus {
      outline: none;
    }

    input::placeholder {
      opacity: 0.85;
      color: green;
    }
  }
}

.main-banner {
  background-color: rgba(black, 0.3);
  height: 62vh;
  z-index: -1;
  p {
    text-transform: none;
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    padding: 10%;
  }
}

.bg-container {
  position: fixed;
  width: 100vw;
  z-index: -1;
  top: 0;
  height: fit-content;

  img {
    position: fixed;
  }
}

.partnersListing {
  background-color: white;
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-container {
    max-width: calc(100% - 200px);
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    .company-container {
      padding: 0 10px;
      background-color: #f8f8f8;
      height: 274px;
      margin: 10px;
      margin-bottom: 20px;

      a {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
      }

      img {
        width: auto;
        height: auto;
        max-width: 210px;
        max-height: 120px;
      }
    }
  }

  .load-btn {
    color: white;
    background-color: #0c892e;
    border: 1px solid $theme-color-dark;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 1% 5%;
    cursor: pointer;
    margin-top: 3%;
  }

  .load-btn:hover {
    background-color: transparent;
    color: $theme-color-dark;
    border: 1px solid $theme-color-dark;
    transition: 0.3s;
  }
}

.loaded-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  .main-container {
    max-width: calc(100% - 200px);
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    .company-container {
      padding: 0 10px;
      background-color: #f8f8f8;
      height: 274px;
      margin: 10px;
      margin-bottom: 20px;

      a {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
      }

      img {
        width: auto;
        height: auto;
        max-width: 210px;
        max-height: 120px;
      }
    }
  }

  .load-btn {
    color: white;
    background-color: #0c892e;
    border: 1px solid $theme-color-dark;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 1% 5%;
    cursor: pointer;
    margin-top: 3%;
  }

  .load-btn:hover {
    background-color: transparent;
    color: $theme-color-dark;
    border: 1px solid $theme-color-dark;
    transition: 0.3s;
  }
}

.work-with-us {
  width: 100%;
  height: 100%;

  .work {
    padding: 68px 0;
    background-color: #0b7e2e;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: white;
      text-align: center;
      margin-bottom: 28px;
      font-size: 50px;
      line-height: 70px;
    }

    p {
      color: white;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      margin: 0;
      margin-bottom: 28px;
    }

    .link {
      text-align: center;

      a {
        background-color: white;
        color: #0c892e;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 30px;
        padding: 1% 4%;
        cursor: pointer;
      }

      a:hover {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        transition: 0.3s;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2% 0%;

  .img-dv {
    padding: 2% 7%;
  }

  .text-container1,
  .text-container2,
  .text-container3 {
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    min-width: max-content;
  }

  a {
    color: #7e7e7e;
    font-size: 18px;
    font-weight: bold;
    padding: 3%;
    width: 100%;
    cursor: pointer;
  }

  a:hover {
    color: #a1a1a1;
    transition: 0.3s;
  }

  .media {
    width: 15%;
    padding-left: 5%;
    padding-top: 2%;
    button {
      width: 100%;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.5s;
    }

    button:hover {
      transform: translateY(5px);
    }
    .button-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 30px;
      font-weight: bold;
      background-color: $theme-color-dark;
      color: white;
    }

    .icons {
      display: flex;
      justify-content: space-between;
      padding-top: 7%;

      a {
        max-width: fit-content;
      }

      img {
        cursor: pointer;
      }
    }
  }
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $theme-color-dark;
  background-color: white;
  font-size: 12px;
  padding-bottom: 2%;
  padding-left: 5%;

  p,
  a {
    padding: 0% 2%;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }
  a:hover {
    color: rgba($theme-color-dark, 0.7);
    transition: 0.2s;
  }
}
