$theme-color: #00a651;
$theme-color-dark: #0c892e;
$theme-font: "Poppins";
$grey-bg: #f6f6f6;

body {
  font-family: $theme-font;
  text-transform: capitalize;
  margin: 0;
  overflow-x: hidden;
}

header {
  top: 10%;
  background-color: white;
  padding-top: 4%;
  padding-bottom: 2%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 100px;
  width: 80%;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0;
  padding-right: 20%;
  position: absolute;

  a {
    margin: 2%;
    font-weight: 500;
    min-width: fit-content;
    cursor: pointer;
  }

  a:hover {
    color: rgba(black, 0.5);
    transition: 0.3s;
  }

  .search-container {
    display: flex;
    align-items: center;
    padding-left: 3%;
    border-left: 1px solid rgba(black, 0.5);
    img {
      padding-left: 10%;
    }
  }

  .lang {
    display: flex;
    align-items: center;
    padding-right: 2%;

    img {
      width: 20px;
      height: 20px;
    }

    select {
      background-color: transparent;
      color: black;
      border: none;
      font-size: 16px;

      option {
        background-color: transparent;
      }
    }
  }
}

.search-page {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: none;

  .close-img {
    display: flex;
    justify-content: right;
    padding: 5%;

    img {
      color: $theme-color-dark;
      cursor: pointer;
    }
  }

  .search-bar {
    display: flex;
    background-color: transparent;
    color: $theme-color-dark;
    border-bottom: 2px solid $theme-color-dark;
    width: 80%;
    padding: 0 0 1% 0.5%;
    margin-left: 10%;

    input {
      border: none;
      background-color: transparent;
      color: green;
      font-size: 25px;
    }
  }
}

.main-banner {
  background-color: rgba(black, 0.3);
  height: 62vh;
  z-index: -1;
  p {
    text-transform: none;
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    padding: 10%;
  }
}

.bg-container {
  position: fixed;
  width: 100vw;
  z-index: -1;
  top: 0;
  height: fit-content;

  img {
    position: fixed;
  }
}

.search-section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .search-div {
    background-color: white;
    position: absolute;
    width: 85%;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.2);
    left: 8%;
    top: -25px;
    display: flex;
    flex-direction: row;

    .search-holder {
      display: flex;
      width: 60%;
      justify-content: space-between;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      align-items: center;

      img {
        width: 30px;
        height: auto;
        padding-right: 7%;
      }

      form {
        width: 50%;
        padding-left: 5%;

        input {
          background-color: white;
          font-size: 16px;
          border: none;
          color: rgba(black, 0.5);
          width: 100%;
        }
      }
    }
    .search-right {
      display: flex;
      padding-left: 28%;

      a {
        margin: 16px;
        font-weight: bold;
      }
    }
  }
}

.collections {
  background-color: white;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    max-width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    padding: 5% 0 2% 0;
    font-size: 50px;
    margin: 0;
  }

  .view-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;

    a {
      color: white;
      background-color: $theme-color-dark;
      border: 1px solid $theme-color-dark;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 30px;
      padding: 1% 5%;
      cursor: pointer;
    }

    a:hover {
      background-color: transparent;
      color: $theme-color-dark;
      border: 1px solid $theme-color-dark;
      transition: 0.3s;
    }
  }
}

.owl-carousel.owl-four {
  overflow: hidden;
  vertical-align: top;

  .item {
    position: relative;
    width: fit-content;
    margin: 2%;

    img:hover {
      transform: scale(1.05);
      transition: 0.5s ease-in-out;
    }

    .category-name {
      color: white;
      font-weight: bold;
      background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.7));
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      p {
        position: absolute;
        max-width: 77%;
        font-weight: 600;
        top: 140px;
        right: 40px;
        left: 40px;
        line-height: 40px;
        font-size: 35px;
      }
    }
  }
}

.owl-prev {
  position: absolute;
  top: 40%;
}

.owl-next {
  position: absolute;
  top: 40%;
  right: 0;
}

.categories {
  background-color: $grey-bg;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    max-width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    padding: 5% 0 2% 0;
    font-size: 50px;
    margin: 0;
  }

  .view-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;

    a {
      color: white;
      background-color: $theme-color-dark;
      border: 1px solid $theme-color-dark;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 30px;
      padding: 1% 5%;
      cursor: pointer;
    }

    a:hover {
      background-color: transparent;
      color: $theme-color-dark;
      border: 1px solid $theme-color-dark;
      transition: 0.3s;
    }
  }
}

.owl-carousel.owl-three {
  overflow: hidden;
  vertical-align: top;

  .item {
    position: relative;
    width: fit-content;
    margin: 2%;

    img:hover {
      transform: scale(1.05);
      transition: 0.5s ease-in-out;
    }

    .category-name {
      color: white;
      font-weight: bold;
      background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.7));
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      p {
        position: absolute;
        max-width: 77%;
        font-weight: 600;
        top: 140px;
        right: 40px;
        left: 40px;
        line-height: 40px;
        font-size: 35px;
      }
    }
  }
}

.recipes {
  background-color: white;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    max-width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    padding: 5% 0 2% 0;
    font-size: 50px;
    margin: 0;
  }

  .view-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;

    a {
      color: white;
      background-color: $theme-color-dark;
      border: 1px solid $theme-color-dark;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 30px;
      padding: 1% 5%;
      cursor: pointer;
    }

    a:hover {
      background-color: transparent;
      color: $theme-color-dark;
      border: 1px solid $theme-color-dark;
      transition: 0.3s;
    }
  }
}

.owl-carousel.owl-five {
  overflow: hidden;
  vertical-align: top;
  .item {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.08);
    margin: 2%;
    min-height: 512px;
    justify-content: space-around;
    overflow: hidden;

    img:hover {
      transform: scale(1.02);
      transition: 0.5s ease-in-out;
    }

    .recipeInfo {
      padding: 5%;

      img {
        position: absolute;
        right: 10%;
        height: 30px;
        width: 30px;
      }

      .title {
        width: 80%;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
      }

      .description {
        color: #7e7e7e;
        font-size: 14px;
        text-transform: none;
      }
    }

    .properties {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-top: 0.5px solid #a1a1a1;
      justify-content: right;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5%;
        color: #a1a1a1;
        max-height: fit-content;

        img {
          width: 20px;
          height: 20px;
        }

        p {
          margin: 5%;
          min-width: fit-content;
        }
      }
    }
  }
}

.create {
  position: relative;

  img {
    width: 100%;
  }
  .create-text {
    position: absolute;
    width: 50%;
    text-transform: none;
    left: 25%;
    top: 25%;

    h1 {
      font-size: 50px;
      line-height: 70px;
      margin-bottom: 28px;
      text-align: center;
    }

    p {
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.submit-div {
  padding: 0 35%;
}

.submit-btn {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
    margin-left: 5%;
  }

  a {
    font-size: 14px;
    line-height: 14px;
    color: $theme-color-dark;
    text-transform: uppercase;
    font-weight: 600;
    padding: 9px 16px;
  }
}

.submit-btn:hover {
  transform: translateY(2px);
  transition: transform 0.5s;
}

.work-with-us {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .work {
    background-color: $grey-bg;
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: $theme-color-dark;
      font-size: 50px;
      line-height: 70px;
      margin-bottom: 28px;
    }

    p {
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 30px;
    }

    a {
      color: white;
      background-color: #0c892e;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 30px;
      padding: 1% 5%;
      cursor: pointer;
    }

    a:hover {
      background-color: transparent;
      color: $theme-color-dark;
      border: 1px solid $theme-color-dark;
      transition: 0.3s;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2% 0%;

  .img-dv {
    padding: 2% 7%;
  }

  .text-container1,
  .text-container2,
  .text-container3 {
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    min-width: max-content;
  }

  a {
    color: #7e7e7e;
    font-size: 18px;
    font-weight: bold;
    padding: 3%;
    width: 100%;
    cursor: pointer;
  }

  a:hover {
    color: #a1a1a1;
    transition: 0.3s;
  }

  .media {
    width: 15%;
    padding-left: 5%;
    padding-top: 2%;
    button {
      width: 100%;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.5s;
    }

    button:hover {
      transform: translateY(5px);
    }
    .button-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 30px;
      font-weight: bold;
      background-color: $theme-color-dark;
      color: white;
    }

    .icons {
      display: flex;
      justify-content: space-between;
      padding-top: 7%;

      a {
        max-width: fit-content;
      }

      img {
        cursor: pointer;
      }
    }
  }
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $theme-color-dark;
  background-color: white;
  font-size: 12px;
  padding-bottom: 2%;
  padding-left: 5%;

  p,
  a {
    padding: 0% 2%;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }
  a:hover {
    color: rgba($theme-color-dark, 0.7);
    transition: 0.2s;
  }
}
