body {
  font-family: "Poppins";
  text-transform: capitalize;
  margin: 0;
  overflow-x: hidden;
}

.bg-container {
  position: fixed;
  width: 100vw;
  z-index: -1;
  top: -12%;
}
.bg-container img {
  position: fixed;
}

header {
  position: absolute;
  width: 100vw;
  top: 10%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 100px;
  position: absolute;
  width: 80%;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0;
  padding-right: 20%;
  position: absolute;
}
.right a {
  margin: 2%;
  color: white;
  font-weight: bold;
  min-width: fit-content;
  cursor: pointer;
}
.right a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.right .search-container {
  display: flex;
  align-items: center;
  padding-left: 3%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.right .search-container img {
  padding-left: 10%;
}
.right .lang {
  display: flex;
  align-items: center;
  padding-right: 2%;
}
.right .lang img {
  width: 20px;
  height: 20px;
}
.right .lang select {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
}
.right .lang select option {
  background-color: transparent;
}

.search-page {
  position: fixed;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: none;
}
.search-page .close-img {
  display: flex;
  justify-content: right;
  padding: 5%;
}
.search-page .close-img img {
  color: #0c892e;
  cursor: pointer;
}
.search-page .search-bar {
  display: flex;
  background-color: transparent;
  color: #0c892e;
  border-bottom: 2px solid #0c892e;
  width: 80%;
  padding: 0 0 1% 0.5%;
  margin-left: 10%;
}
.search-page .search-bar input {
  border: none;
  background-color: transparent;
  color: green;
  font-size: 25px;
}
.search-page .search-bar input:focus {
  outline: none;
}
.search-page .search-bar input::placeholder {
  opacity: 0.85;
  color: green;
}

.main-banner {
  height: 100vh;
}
.main-banner p {
  text-transform: none;
  color: white;
  font-size: 50px;
  width: 45%;
  font-weight: bold;
}
.main-banner a {
  color: #0c892e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: white;
  border-color: white;
  border-radius: 30px;
  padding: 1% 3%;
  cursor: pointer;
}
.main-banner a:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.main-banner .text1 {
  margin-left: 7%;
  padding-top: 10%;
}

.history {
  background-color: #f6f6f6;
  height: 100vh;
  width: 100vw;
  margin-top: 10%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.history .story {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.history .story a {
  margin: 2%;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
.history .story a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration-line: underline;
  transition: 0.2s;
}
.history .image-container {
  position: absolute;
  top: -25%;
  width: fit-content;
}
.history .text2 {
  position: absolute;
  color: white;
  width: 38%;
  text-transform: none;
  top: -25%;
  z-index: 1;
  left: 100px;
}
.history .text2 h1 {
  font-size: 65px;
  margin-bottom: 32px;
  line-height: 75px;
}
.history .text2 p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 26px;
}
.history .seeds {
  right: 0;
  max-width: max-content;
  width: 25%;
}
.history .seeds img {
  position: absolute;
  right: 6%;
  width: 20%;
  top: -20%;
}

.video-page {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
}
.video-page iframe {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}
.video-page span {
  position: absolute;
  top: 5px;
  right: 40px;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  z-index: 100;
  cursor: pointer;
}

.textSnippet {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  align-items: center;
  width: 100vw;
}
.textSnippet .right-pomegranate {
  width: 50%;
  position: relative;
  height: auto;
}
.textSnippet .right-pomegranate .top-image {
  position: absolute;
  right: 20%;
  top: -10%;
}
.textSnippet .right-pomegranate .bottom-image {
  width: 60%;
  padding: 25% 0 0 15%;
}
.textSnippet .left-text {
  width: 50%;
  padding-bottom: 10%;
}
.textSnippet .left-text p {
  width: 85%;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 70px;
  margin-bottom: 38px;
  font-size: 50px;
}
.textSnippet .left-text a {
  color: white;
  background-color: #0c892e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 2% 9%;
  cursor: pointer;
}
.textSnippet .left-text a:hover {
  background-color: transparent;
  color: #0c892e;
  border: 1px solid #0c892e;
  transition: 0.3s;
}

.products {
  background-color: white;
  width: 100vw;
  height: fit-content;
  margin-top: 0;
  padding-bottom: 5%;
}
.products h1 {
  padding: 5% 0 0 5%;
  font-size: 50px;
  margin: 0;
}
.products .view-more {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.products .view-more a {
  color: white;
  background-color: #0c892e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 1% 5%;
  cursor: pointer;
}
.products .view-more a:hover {
  background-color: transparent;
  color: #0c892e;
  border: 1px solid #0c892e;
  transition: 0.3s;
}

.leaf1 {
  position: absolute;
  width: 100%;
  justify-content: right;
}
.leaf1 img {
  position: absolute;
  right: 0;
  top: 490px;
  width: 12%;
  z-index: 0;
}

.owl-carousel {
  padding: 2% 2% 0 2%;
  width: 80%;
  overflow: hidden;
  vertical-align: top;
}
.owl-carousel .item {
  box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 540px;
}
.owl-carousel .item img {
  height: 198px;
}
.owl-carousel .item img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}
.owl-carousel .item .listingInfo {
  padding: 24px 28px 40px;
}
.owl-carousel .item .listingInfo .title {
  color: #0c892e;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.owl-carousel .item .listingInfo .product-name {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 30px;
}
.owl-carousel .item .listingInfo .product-size {
  color: #7e7e7e;
  font-size: 16px;
  margin-bottom: 46px;
}
.owl-carousel .item .listingInfo a {
  border: 2px solid #0c892e;
  border-radius: 25px;
  color: #0c892e;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  display: inline-block;
  padding: 4px 10px;
  text-transform: uppercase;
  transition: 0.3;
  cursor: pointer;
}
.owl-carousel .item .listingInfo a:hover {
  color: white;
  background-color: #0c892e;
  transition: 0.3s;
}

.owl-prev,
.owl-next {
  background-image: url(../images/arrow-left.svg);
  background-color: #0c892e; /* Button background color */
  padding: 10px;
  border-radius: 50%; /* Make them circular */
  position: absolute;
}

.owl-prev {
  left: 10px;
  position: absolute;
  font-size: 30px;
  bottom: 350px;
}

.owl-next {
  right: 100px;
  position: absolute;
  font-size: 30px;
  bottom: 350px;
}

.recipes {
  background-color: #f6f6f6;
  padding: 2%;
  padding-bottom: 7%;
}
.recipes h1 {
  padding: 5% 0 0 5%;
  font-size: 50px;
  margin: 0;
}
.recipes .recipes-header {
  position: relative;
}
.recipes .recipes-header .tabs {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right: 15%;
}
.recipes .recipes-header .tab-link {
  font-size: 12px;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  padding: 7% 20%;
  text-transform: uppercase;
  margin: 5%;
}
.recipes .recipes-header .tab-link.active {
  background-color: black;
  color: white;
}
.recipes .recipes-header .tabcontent {
  display: none;
}
.recipes .view-more {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.recipes .view-more a {
  color: white;
  background-color: #0c892e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 1% 5%;
  cursor: pointer;
}
.recipes .view-more a:hover {
  background-color: transparent;
  color: #0c892e;
  border: 1px solid #0c892e;
  transition: 0.3s;
}
.recipes .recipe-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3% 0%;
}
.recipes .recipe-container .recipe-item {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.08);
  margin: 0.5%;
  width: 30%;
  min-height: 545px;
  overflow: hidden;
}
.recipes .recipe-container .recipe-item img:hover {
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}
.recipes .recipe-container .recipe-item .arrow-div {
  padding-top: 10%;
  position: relative;
}
.recipes .recipe-container .recipe-item .arrow-div img {
  position: absolute;
  right: 10%;
  top: 50%;
}
.recipes .recipe-container .recipe-item .recipeInfo {
  padding: 0 5% 5% 5%;
  height: 30%;
}
.recipes .recipe-container .recipe-item .recipeInfo .title {
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}
.recipes .recipe-container .recipe-item .recipeInfo .description {
  color: #7e7e7e;
  font-size: 16px;
  text-transform: none;
}
.recipes .recipe-container .recipe-item .properties {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 0.5px solid #a1a1a1;
  justify-content: right;
}
.recipes .recipe-container .recipe-item .properties div {
  display: flex;
  flex-direction: row;
  margin: 5%;
  color: #a1a1a1;
}
.recipes .recipe-container .recipe-item .properties div img {
  width: 30px;
  height: 30px;
}
.recipes .recipe-container .recipe-item .properties div p {
  margin: 5%;
  min-width: fit-content;
}

.leaf2 {
  position: absolute;
}
.leaf2 img {
  position: absolute;
  top: 800px;
  left: -50px;
}

.chickpeas {
  position: absolute;
}
.chickpeas img {
  position: absolute;
  top: 920px;
  width: 32vw;
  left: 850px;
}

.presence {
  background-color: white;
  padding: 7% 0%;
  width: 100%;
}
.presence .header-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.presence .header-container h1 {
  font-size: 50px;
  line-height: 70px;
  padding-left: 7%;
}
.presence .header-container a {
  position: absolute;
  right: 4%;
  color: white;
  background-color: #0c892e;
  font-weight: bold;
  text-transform: none;
  font-size: 14px;
  border-radius: 30px;
  padding: 1% 4%;
  cursor: pointer;
}
.presence .header-container a:hover {
  background-color: transparent;
  color: #0c892e;
  border: 1px solid #0c892e;
  transition: 0.3s;
}
.presence .mapdiv {
  margin: auto;
}
.presence .mapdiv path {
  fill: rgba(0, 166, 81, 0.2);
  stroke: white;
  stroke-width: 1px;
}
.presence .mapdiv #Australia,
.presence .mapdiv #Egypt,
.presence .mapdiv #KSA,
.presence .mapdiv #Oman,
.presence .mapdiv #France,
.presence .mapdiv #New-Zealand,
.presence .mapdiv #Chile,
.presence .mapdiv #United-States,
.presence .mapdiv #Canada,
.presence .mapdiv #United-Kingdom,
.presence .mapdiv #IQ,
.presence .mapdiv #LB,
.presence .mapdiv #KW,
.presence .mapdiv #AE,
.presence .mapdiv #NL,
.presence .mapdiv #ZA,
.presence .mapdiv #BR,
.presence .mapdiv #MX,
.presence .mapdiv #SE,
.presence .mapdiv #DE,
.presence .mapdiv #BE,
.presence .mapdiv #AT,
.presence .mapdiv #CZ,
.presence .mapdiv #ES,
.presence .mapdiv #MA,
.presence .mapdiv #GH,
.presence .mapdiv #SA,
.presence .mapdiv #EG,
.presence .mapdiv #QA,
.presence .mapdiv #AM {
  fill: rgb(0, 166, 81);
}

.visit-lebanon .outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/lebanonView.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
.visit-lebanon .outer-container .visit {
  background-color: transparent;
  color: white;
  margin: 30% 0% 10% 0%;
  padding-left: 10%;
}
.visit-lebanon .outer-container .visit h1 {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 26px;
}
.visit-lebanon .outer-container .visit p {
  width: 49%;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 44px;
  text-transform: none;
}
.visit-lebanon .outer-container .visit a {
  color: white;
  background-color: #0c892e;
  font-weight: bold;
  text-transform: none;
  font-size: 14px;
  border-radius: 30px;
  padding: 1% 4%;
  cursor: pointer;
}
.visit-lebanon .outer-container .visit a:hover {
  background-color: transparent;
  color: #0c892e;
  border: 1px solid #0c892e;
  transition: 0.3s;
}
.visit-lebanon .outer-container .work {
  background-color: #f6f6f6;
  padding: 5% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visit-lebanon .outer-container .work h1 {
  color: #0c892e;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 28px;
}
.visit-lebanon .outer-container .work p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 30px;
}
.visit-lebanon .outer-container .work a {
  color: white;
  background-color: #0c892e;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 1% 5%;
  cursor: pointer;
}
.visit-lebanon .outer-container .work a:hover {
  background-color: transparent;
  color: #0c892e;
  border: 1px solid #0c892e;
  transition: 0.3s;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2% 0%;
}
.footer .img-dv {
  padding: 2% 7%;
}
.footer .text-container1,
.footer .text-container2,
.footer .text-container3 {
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
  min-width: max-content;
}
.footer a {
  color: #7e7e7e;
  font-size: 18px;
  font-weight: bold;
  padding: 3%;
  width: 100%;
  cursor: pointer;
}
.footer a:hover {
  color: #a1a1a1;
  transition: 0.3s;
}
.footer .media {
  width: 15%;
  padding-left: 5%;
  padding-top: 2%;
}
.footer .media button {
  width: 100%;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}
.footer .media button:hover {
  transform: translateY(5px);
}
.footer .media .button-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #0c892e;
  color: white;
}
.footer .media .icons {
  display: flex;
  justify-content: space-between;
  padding-top: 7%;
}
.footer .media .icons a {
  max-width: fit-content;
}
.footer .media .icons img {
  cursor: pointer;
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0c892e;
  background-color: white;
  font-size: 12px;
  padding-bottom: 2%;
  padding-left: 5%;
}
.post-footer p,
.post-footer a {
  padding: 0% 2%;
}
.post-footer a {
  text-decoration: underline;
  cursor: pointer;
}
.post-footer a:hover {
  color: rgba(12, 137, 46, 0.7);
  transition: 0.2s;
}

/*# sourceMappingURL=styles.css.map */
